.--login-limit-width{
    padding:var(--sixteenPX);
}

.--login-limit-width>h1{
    margin:var(--thirtytwoPX) 0;
}

.--login-label{
    margin:var(--fivePX) 0;
}

.--login-error-message{
    margin:var(--thirtytwoPX) 0;
}

.--login-form>input{
    font-family:var(--primary-900);
    border:1px solid #AAA;
    padding:.3125rem var(--sixteenPX);
}

input.--login-email{
    border-top-right-radius:.3125rem;
    border-top-left-radius:.3125rem;
    border-bottom:0px solid #AAA;
}

input.--login-password{
    border-bottom-left-radius:.3125rem;
    border-bottom-right-radius:.3125rem;
}
.--login-btn{
    width:100%;
    background-color:var(--olive-green);
    margin:var(--fourteenPX) 0 var(--fourtyeightPX);
}

.--login-new{
    color:var(--olive-green);
}
