@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&family=Merriweather:wght@900&display=swap');

:root{
    --primary-font:'Merriweather Sans', sans-serif;
    --primary-900:'Merriweather', serif;
    --olive-green:#98AD53;
    --sky-blue:#96EDFF;
    --rose-bud:#E5C2C0;
    --carribbean-green:#0D5D56;
    --slate:#46494C;
    --main-bg-color:#FFF7ED;
    --black:#161616;
    --white:#FFFDFA;
    --fourteenPX:.875rem;
    --sixteenPX:1rem;
    --eighteenPX:1.125rem;
    --twentyPX:1.25rem;
    --twentyfourPX:1.5rem;
    --thirtytwoPX:2rem;
    --thirtysixPX:2.25rem;
    --fourtyeight:3rem;
    font-size:16px;
    font-family: var(--primary-font);
    color:var(--black);
}

*, *::before, *::after{
    box-sizing: border-box;
}

/*Font-size*/
.XIVpt{font-size:var(--fourteenPX)}
.XVIpt{font-size:var(--sixteenPX)}
.XVIIIpt{font-size:var(--eighteenPX)}
.XXpt{font-size:var(--twentyPX)}    
.XIVpt{font-size:var(--twentyfourPX)}
.XXXIIpt{font-size:var(--thirtytwoPX)}
.XXXVIpt{font-size:var(--thirtysixPX)} 
.XLVIIIpt{font-size:var(--fourtyeight)}

/*Font-Weight*/
.medium{font-weight:500}
.semi-bold{font-weight: 600}
.bold{font-weight:700}
.extra-bold{font-weight:800}
.black-bold{font-weight:900}

/*Color*/
.black{color:var(--black)}
.white{color:var(--white)}

.underline{text-decoration: underline}
.center{text-align: center}

/*Quick Flex Props*/
.flex{display:flex;}
.flex-wrap{flex-wrap:wrap}
.flex-center{justify-content: center}
.flex-align-center{align-items: center}

.link{
    text-decoration:none;
    margin-right:var(--fourteenPX)
}

a.link:hover:not(.active){
    color:var(--rose-bud);
    text-shadow: 0 2px 3px var(--black);
}

.btn{
    display:block;
    padding:var(--sixteenPX);
    border-radius:.3125rem;
    text-decoration: none;
    font-family:var(--primary-900);
    color:var(--white);
    box-shadow:1px 2px 10px var(--white);
}

.btn:hover{
    background-color:var(--carribbean-green);
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}